<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="spacer"></span>
 <!-- <a mat-button routerLink="/" routerLinkActive="active">Lista de Miembros</a>
  <a mat-button routerLink="/crear" routerLinkActive="active">Crear Miembro</a>
  <a mat-button routerLink="editar/:id" routerLinkActive="active">Crear Miembro</a>
  -->
</mat-toolbar>

<div class="main-container">
  <div class="content-container">
    <router-outlet></router-outlet> <!-- Aquí irá la lista u otros componentes -->
  </div>

  <div class="button-container">
    <button  id="irListaButton" routerLink="/">Ir a la Lista</button>
    <button  id="crearMiembroButton" routerLink="/crear">Crear Miembro</button>
  </div>
</div>

  
